// 标签初始化
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  word-break: break-all;
  vertical-align: baseline;
  border: 0;
}

input::-webkit-input-placeholder {
  color: #c8c9cc;
}

li {
  list-style: none;
}

body,
html {
  height: 100%;
  font-family:
    tahoma,
    arial,
    "Hiragino Sans GB",
    "Hiragino Sans GB W3",
    "PingFang SC",
    "Microsoft Yahei",
    "STHeitiSC-Light",
    "Helvetica-Light",
    sans-serif;
  font-size: 13px;
  font-weight: 200;
  line-height: 1;
}

textarea::placeholder {
  color: $tag-gray;
}

a {
  color: $brand-base-color-6;
  text-decoration: none;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: $text-plain;
}

input:-webkit-autofill {
  background-color: $base-white;
  background-image: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $base-white inset;
}
// element-ui表格冻结列后，滚动条无法拖动的问题
.freeze-column_scroll .is-scrolling-middle {
  z-index: 3 !important;
}

.freeze-column_scroll .is-scrolling-right {
  z-index: 3 !important;
}

.freeze-column_scroll .is-scrolling-left {
  z-index: 3 !important;
}

.el-button--danger {
  color: $error-base-color-6 !important;
  background-color: $base-white !important;
  border-color: $error-base-color-6 !important;
}

.el-button--default:hover {
  color: #ff8e3d;
  background: #fff4ec;
  border-color: #ffddc5;
}

.el-button--danger:hover {
  color: $error-color-5 !important;
  background-color: $base-white !important;
  border-color: $error-color-5 !important;
}

.el-button--danger:active {
  color: $error-base-color-6 !important;
  background-color: $error-color-1 !important;
}

.el-button--danger.is-disabled,
.el-button--danger.is-disabled:hover,
.el-button--danger.is-disabled:active {
  color: $error-color-3 !important;
  background-color: $base-white !important;
  border-color: $error-color-3 !important;
}

.el-button--default:focus {
  color: #ff8e3d;
  background: #fff4ec;
  border-color: #ff8e3d;
}

.el-button--danger:active {
  color: $error-base-color-6 !important;
  background-color: $error-color-1 !important;
}

.el-button--danger.is-disabled,
.el-button--danger.is-disabled:hover,
.el-button--danger.is-disabled:active {
  color: $error-color-3 !important;
  background-color: $base-white !important;
  border-color: $error-color-3 !important;
}

.el-button--primary {
  color: $base-white !important;
  background-color: $brand-base-color-6 !important;
  border-color: $brand-base-color-6 !important;
}

.el-button--primary.is-disabled,
.el-button--primary.is-disabled:hover,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:active {
  color: $base-white !important;
  background-color: $brand-color-3 !important;
  border-color: $brand-color-3 !important;
}

.el-button--primary:hover {
  color: $base-white !important;
  background-color: $brand-color-5 !important;
  border-color: $brand-color-5 !important;
}

.el-button--primary:active {
  color: $base-white !important;
  background-color: $brand-color-7 !important;
  border-color: $brand-color-7 !important;
}

.el-tag {
  background-color: $brand-color-1 !important;
  border-color: $brand-color-5 !important;
  color: $brand-color-5 !important;
}
.el-tag .el-tag__close {
  color: $brand-color-5 !important;
}
.el-tag .el-tag__close:hover {
  color: $base-white !important;
  background-color: $brand-color-5 !important;
}

.el-button:hover,
.el-button:focus,
.el-button.is-plain:hover,
.el-button.is-plain:focus {
  color: $brand-base-color-6;
  background: $brand-color-1;
  border-color: $brand-color-2;
}

.el-button--primary:focus {
  color: #fff;
  background-color: #e68037;
  border-color: #e68037;
}

.el-button:hover,
.el-button:focus,
.el-button.is-plain:hover,
.el-button.is-plain:focus {
  color: $brand-base-color-6;
  background: $brand-color-1;
  border-color: $brand-color-2;
}

.el-button:focus-visible {
  outline: none;
  outline-offset: 1px;
}

.el-input__wrapper.is-focus,
.el-textarea__inner:focus {
  border-color: $brand-base-color-6;
  box-shadow: 0 0 0 1px $brand-base-color-6 inset;
  // box-shadow: 0 0 0 1px $text-grey inset;
}

.el-input__inner {
  color: $text-main;
}

.el-input__inner:focus {
  border-color: $brand-base-color-6;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: $brand-base-color-6;
  background: $brand-base-color-6;
}

.el-radio__inner:hover {
  border-color: $brand-base-color-6;
}

.el-radio__input.is-checked + .el-radio__label {
  color: $brand-base-color-6;
}

.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
  color: $brand-base-color-6;
}

.el-input__inner:focus {
  border-color: $brand-base-color-6;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: $brand-base-color-6;
  background: $brand-base-color-6;
}

.el-radio__input.is-checked + .el-radio__label {
  color: $brand-base-color-6;
}

.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
  color: $brand-base-color-6;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #fd8d3d;
  border-color: #fd8d3d;
}

.el-checkbox__inner:hover,
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #fd8d3d;
}

.el-date-table td.current:not(.disabled) .el-date-table-cell__text {
  color: #fff;
  background-color: $brand-base-color-6;
}

.el-form-item__label::before {
  position: absolute;
  top: 15px;
  left: 7px;
  margin-right: 0;
}

//tab切换
.el-tabs__item.is-active {
  color: #ff8c2e !important;
}
//tab切换下面的横线
.el-tabs__active-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #ff8c2e !important;
  z-index: 1;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  list-style: none;
}

.el-cascader {
  width: 200px;
  margin-right: 10px;
}

.el-cascader-node__prefix {
  left: 10px;
  position: absolute;
}

.el-form--label-left .el-form-item__label {
  max-height: 160px;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  word-break: break-all;
}

.el-popper.is-light {
  box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
}

.el-form--default.el-form--label-top .el-form-item .el-form-item__label {
  // max-height: 60px;
  height: auto;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // display: -webkit-box;
  // -webkit-box-orient: vertical;
  // -webkit-line-clamp: 2;
  // word-break: break-all;
}

.el-form--label-left .el-form-item__content {
  align-self: flex-start;
}

.el-dropdown-menu__item:not(.is-disabled):focus {
  background-color: #fff5e8;
  color: #ff8c2e;
}

.el-cascader-node.in-active-path,
.el-cascader-node.is-active,
.el-cascader-node.is-selectable.in-checked-path {
  color: #ff8c2e;
}

.el-cascader .el-input.is-focus .el-input__wrapper {
  box-shadow: 0 0 0 1px #ff8c2e inset;
}

.custom .el-color-picker {
  display: block;
  .el-color-picker__trigger {
    width: 100%;
    height: 40px;
  }
}