// 放全局使用的工具

@import "./setting-variable.scss";

@mixin button($bg-color: $base-orange) {
  width: 58px;
  height: 32px;
  border-radius: 3px;
  background-color: $bg-color;
}

// 清除浮动
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// 单行文本超出隐藏
@mixin singleline-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行文本超出隐藏，传入行数
@mixin multiline-ellipsis($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

// 滚动条样式
@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #ededed;
  }

  &::-webkit-scrollbar {
    width: 3px; /* 高宽分别对应横竖滚动条的尺寸 */
    height: 6px;  
  }

  &::-webkit-scrollbar-thumb {
    background: #dcdbdb;
    border-radius: 6px;
  }
}

// 滚动条样式
@mixin scrollBarMiddle {
  &::-webkit-scrollbar-track-piece {
    background: #ffffff;
  }

  &::-webkit-scrollbar {
    width: 8px; /* 高宽分别对应横竖滚动条的尺寸 */
    height: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background: #dcdbdb;
    border-radius: 6px;
  }
}

// 图片背景图
@mixin bg-image($url) {
  background-image: url($url + "@2x.png");
  // @media (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3) {
  //   background-image: url($url + "@3x.png")
  // }
}

@mixin basic-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin noEdit {
  pointer-events: auto !important;
  cursor: not-allowed !important;
  color: $text-tip;
}

@mixin add-button {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
  border-radius: 2px;
  border: 1px solid $neutral-color-3;
  background-color: $base-white;
  color: $text-auxiliary;
  cursor: pointer;
  &:hover {
    color: $brand-base-color-6;
    border: 1px solid $brand-base-color-6 !important;
  }
  i {
    margin-right: 4px;
  }
}

@mixin system-tab {
  border-bottom: none;
  .is-active {
    border-bottom: 2px solid $brand-base-color-6;
    color: $text-main!important;
  }
  .el-menu-item {
    background-color: $base-white !important;
    color: $text-auxiliary;
    font-size: 14px;
    padding: 0;
    margin: 0 15px;
    &:hover {
      color: $icon-orange;
    }
  }
}
