<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="description" content="这里是分享的内容描述，仅供参考" />
    <title></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- xbb-pro -->
    <link
      rel="stylesheet"
      href="//at.alicdn.com/t/c/font_1020340_6vtxus8d2qe.css"
    />
    <!-- xbb-pro-web -->
    <link
      rel="stylesheet"
      href="//at.alicdn.com/t/c/font_1020343_jclx5nz0a5i.css"
    />
    <!-- xbb-pro-dingtalk -->
    <link
      rel="stylesheet"
      href="//at.alicdn.com/t/c/font_1020348_1jk2humt3zn.css"
    />
    <script type="text/javascript">
      window._AMapSecurityConfig = {
        serviceHost: "https://amap.xbongbong.com/_AMapService",
      };
    </script>
    <!-- <% if(MODE !== 'production'){ %>
      <script src="https://cdn.bootcdn.net/ajax/libs/eruda/2.3.3/eruda.js"></script>
      <script>eruda.init();</script>
    <% } %> -->
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="./src/main.js"></script>
  </body>
</html>
